* {
   margin: 0;
   padding: 0;
   list-style: none;
}

body {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background: url("images/bg2.jpg");
   /* display: flex; */
}

main {
   background: linear-gradient(to right top, rgba(0, 47, 255, 0.7), rgba(0, 255, 255, 0.6));
   width: 60%;
   height: 70vh;
   margin: 15vh 20%;
   border-radius: 1em;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border-bottom: 1px #fff solid;
   border-right: 1px #fff solid;
}

#main-section{
   flex: 4;
   margin-left: 2%;
}
#lisere{
   display: flex;
   flex: 1;
   background: blueviolet;
   border-radius: 1em;
   border-right: solid 0px#fff;
   box-shadow: 1.2em 0 0em rgba(228, 142, 13, 1);
   
}
#lisere-inset{
   flex: 0.8;
   box-shadow: 1px 0 0.1em rgba(255, 255, 255, 0.3);
   background: linear-gradient(to right top, 
      rgb(255, 255, 255, 1),
      rgb(0, 150, 136) );
   border-radius: 1em;
   
}
#profil{
   display: flex;
   justify-content: right;
   align-items: center;
   margin-left: 25px;
   border-bottom: white solid 4px;
   padding: 15px 0;
   text-shadow: 1px 1px 1em rgb(50, 50, 50);
}
#profil img{
   width: 70%;
   border: white solid 0.3em;
   border-radius: 50%;
   box-shadow: 1px 1px 2em rgba(0, 0, 0, 0.3);
}
#profil h1{
   font-weight:900;
   margin-right: 3%;
   color: #fff;
}

#second-section{
   margin-top: 15px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: baseline;
   height: 37vh;
}

.sub-section{
   font-size: 0.8em;
   color: #fff;
}
.sub-section h2{
   text-decoration: underline;
   margin-bottom: 20px;
}
.sub-section li, p{
   margin-bottom: 5px;
}

.formation{
   box-shadow: 1px 1px 2em rgba(0, 0, 0, 0.1);
   text-shadow: 1px 1px 2em rgba(0, 0, 0, 0.4);
   background-color: blueviolet;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-self: flex-end;
   height: 25vh;
   width: 23%;
   border-radius: 50%;
   padding: 0 10px;
   text-align: center;
   border: #fff 7px dashed;
}
.experience{
   box-shadow: 1px 1px 2em rgba(0, 0, 0, 0.1);
   text-shadow: 1px 1px 2em rgba(0, 0, 0, 0.4);
   background-color: rgba(228, 142, 13, 0.904);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-self: flex-start;
   height: 25vh;
   width: 23%;
   border-radius: 50%;
   padding: 0 10px;
   text-align: center;
   border: #fff 7px dashed;
}

.competences{   
   border: #fff 7px dashed;
   box-shadow: 1px 1px 2em rgba(0, 0, 0, 0.1);
   text-shadow: 1px 1px 2em rgba(0, 0, 0, 0.4);
   background-color: rgb(0, 150, 136);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-self: flex-start;
   height: 25vh;
   width: 23%;
   border-radius: 50%;
   padding: 0 10px;
   text-align: center;
}